/* universal selector for manage the the html pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 66.7%;
}
/* main container class */
.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;

  margin: 30rem;
  padding: 3rem;
  margin-top: 3rem;
  background-color: #d1cece;
  border-radius: 1rem;
}
.quiz-container > h1 {
  font-size: 3rem;
}
.quiz-container--items {
  background-color: #f9f7f7;
  padding: 4rem;
  padding-top: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px 2px #888888;
  cursor: pointer;
  width: 90%;
}
.quiz-container--items:hover {
  background-color: #e8e6e6;
}
.quiz-container--items > h1 {
  font-size: 2rem;
}
label {
  font-size: 1.5rem;
  line-height: 200%;
  margin-left: 1rem;
}
input[data-answer="true"][type="radio"]:checked + label {
  color: #008000; /* Green color for correct answer */
  background-color: #d4edda; /* Light green background for correct answer */
}
input[data-answer="true"][type="checkbox"]:checked + label {
  color: #008000; /* Green color for correct answer */
  background-color: #d4edda; /* Light green background for correct answer */
}

input[data-answer="false"][type="radio"]:checked + label {
  color: #ff0000; /* Red color for incorrect answer */
  background-color: #f8d7da; /* Light red background for incorrect answer */
}
input[data-answer="false"][type="checkbox"]:checked + label {
  color: #ff0000; /* Red color for incorrect answer */
  background-color: #f8d7da; /* Light red background for incorrect answer */
}

/* design for the the submit button */
.button {
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  border: 1px solid white;
}
/* responsive design for large screen */
@media screen and (max-width: 1040px) {
  label {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .quiz-container--items > h1 {
    font-size: 1.5rem;
  }
  .quiz-container--items {
    padding: 1rem;
  }
  .quiz-container > h1 {
    font-size: 2rem;
  }
}
/* resposive design for tablets */
@media screen and (max-width: 900px) {
  .quiz-container {
    margin: 0rem;
  }
}
/* resposive design for mobile  */
@media screen and (max-width: 400px) {
  .quiz-container--items {
    width: 100%;
  }
  .quiz-container--items > h1 {
    font-size: 1.2rem;
  }
  .button {
    font-size: 1.3rem;
  }
}
